body {
    /* background: linear-gradient(to right, rgb(141, 6, 178), rgb(183, 158, 194)); */
    background-image: linear-gradient(to right, #8d0694, #9827a3, #a43bb3, #af4ec2, #ba5fd2, #ba5fd2, #ba5fd2, #ba5fd2, #af4ec2, #a43bb3, #9827a3, #8d0694);
}


.pointsbox {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
}

.btn {
    display: block;
    position: absolute;
    right: 230px;
    padding: 0;
    border: none;
    background: none;
}

.btn:hover {
    cursor: pointer;
    color: white;
}

#scoreX {
    /* float: left; */
    position: absolute;
    margin-top: 80px;
    right: 100px;
    width: 150px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 5rem;
}


#scoreO {
    /* float: right; */
    position: absolute;
    margin-top: 80px;
    left: 100px;
    width: 150px;
    border: 3px solid white;
    padding: 10px;
    border-radius: 5rem;
}


.row div {
    padding: 10px;
    border: 3px solid white;
    height: 130px;
    width: 130px;
    color: white;
    background-color: linear-gradient(to right, rgb(141, 6, 178), rgb(183, 158, 194));;
    border-radius: 1px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 120px;    
}


.row {
    clear: both;
}


.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.result-container {
    font-size: 18px;
}

.animate__animated.animate__flash {
   animation-duration: 3s;
}

/* 
@media screen and (max-width: 600px) {
    .row div {
        padding: 20px;
        border: 8px solid white;
        height: 50px;
        width: 50px;
        color: white;
        background-color: linear-gradient(to right, rgb(141, 6, 178), rgb(183, 158, 194));;
        border-radius: 1px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 50px;    
    }
    
    .row {
        clear: both;
    }

    #scoreX {
        float: left;
        left: 15px;
        width: 90px;
        border: 3px solid white;
        padding: 10px;
        border-radius: 5rem;

    }

    #scoreO {
        float: right;
        right: 150px;
        width: 90px;
        border: 3px solid white;
        padding: 10px;
        border-radius: 5rem;
    }

    #game {
      width: 95%;
      height: 580px;
      font-size: 20px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    #scoreboard {
      margin: 50px 0 25px 25px;
    }
  
    /* .far {
      margin-right: 20px;
    }
  
    .reset-icon {
      margin-top: 25px;
      margin-left: 25px;
    } */
  /* }